.g-all-container{
    height: 100%;
    .g-gallery-main{
        width: calc(100% - 324px);
        height: calc(100% - 64px);
        position: fixed;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        .v-responsive{
            user-select: none;
            border-radius: 3px;
            box-shadow: 0px 0px 26.195px 4.805px rgba(0, 0, 0, 0.41);
            img{
                height: 100%;
                width: 100%;
            }
            // Anti-pattern? Yeah probably 
            .top{top: 20px}
            .bottom{bottom: 20px}
            .left{left: 20px}
            .right{right: 20px}
            .g-active-img-text{
                position: absolute;
                font-weight: 300;
                padding-right: 10px;
                .g-invis-id{
                    opacity: 0;
                    width: 1px;
                    height: 1px;
                    position: fixed;
                    top: -1px;
                }
                div:not(.desc){
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 400px;
                    text-transform: capitalize;
                }
                .head{
                    font-size: 24px;
                    color: rgba(0,0,0,1);
                    .v-btn{
                        opacity: 0;
                        transition: 0.2s;
                        margin-left: 5px;
                        &:hover{
                             background: rgba(0,0,0,0.1);
                        }
                        .mdi{
                            font-size: 20px;
                            transform: rotate(-45deg);
                            color: rgba(0,0,0,0.87);
                        }
                    }
                }
                .desc{
                    color: rgba(0,0,0,0.7);
                    font-size: 14px;
                }
                .date, .tags{
                    font-size: 13px;
                    color: rgba(0,0,0,0.7);
                    span{
                        font-weight: 400;
                        color: rgba(0,0,0,0.87);
                    }
                }
                .date{
                    margin-top: 10px;  
                }

            }
            &:hover{
                .g-active-img-text{
                    .head{
                        .v-btn{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .v-btn{
            position: absolute;
            margin: auto;
            color: rgba(255, 255, 255, 0.6);
            &.g-gallery-up{
                top: 5px;
            }
            &.g-gallery-down{
                bottom: 5px;
            }
        }
    }
    .g-fixed-mobile-menu{
        position: fixed;
        top: 7px;
        left: 14px;
        display: none;
    }
    ::v-deep .v-overlay{
        top: 50px;
        left: 0px;
        // left: 324px;
        &.v-overlay--active{
            .v-overlay{
                opacity: 0.8 !important;
            }
        }
    }
    ::v-deep .v-navigation-drawer{
        height: calc(100% - 64px) !important;
        bottom: 0px !important;
        top: unset !important;
        width: 324px !important;
        background: transparent;
        backdrop-filter: blur(5px);
        .v-navigation-drawer__content{
            overflow: hidden;
        }
        .simplebar-scrollbar{
            position: absolute;
            right: 1px;
            width: 3px;
            min-height: 10px;
        }
        .g-panel{
            height: 109px;
            width: 100%;
            border-bottom: 1px solid $mainWhite;
            padding: 0px 22.5px;
            display: flex;
            align-items: center;
            @include no-select;
            will-change: background;
            cursor: pointer;
            transition: 0.2s background;
            &:hover{
                background: rgba(255, 255, 255, 0.02);
            }
            &.g-panel-active{
                border: 1px solid rgba(255, 255, 255, 0.4);
                border-left: 0;
                background: rgba(255, 255, 255, 0.10);
                backdrop-filter: blur(10px);
                box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
            }
            .g-panel-img{
                // background: $mainWhite;
                box-shadow: 0px 5px 6.5px 0.02px rgba(0, 0, 0, 0.8);
                height: 63.5px;
                width: 63.5px;
                border-radius: 3px;
                margin-right: 22.5px;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .g-panel-text{
                display: flex;
                flex-direction: column;
                .g-panel-text-title{
                    font-size: 13.5px;
                    font-weight: 400;
                    letter-spacing: 0.7px;
                    color: rgba(255, 255, 255, 0.90);
                    margin-bottom: 3px;
                }
                .g-panel-text-desc{
                    font-size: 12px;
                    font-weight: 300;
                    color: rgba(255, 255, 255, 0.41);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 184px;
                }
            }
        }
    }
} 

@media only screen and (max-width: 1024px){
    .g-all-container{
        ::v-deep .v-navigation-drawer{
            background: rgba(0, 0, 0, 0.30);
            backdrop-filter: blur(10px);
            height: calc(100% - 50px) !important;
        }
        .g-gallery-main{
            width: 100%;
            padding: 10px;
            // .v-btn{
            //     margin: unset;
            //     top: unset !important;
            //     bottom: unset !important;
            //     transform: rotate(90deg);
            // }
            // .g-gallery-down{
            //     left: 20px;
            // }
            // .g-gallery-up{
            //     right: 20px;
            // }
            
        }
        .g-fixed-mobile-menu{
            display: block;
        }    
    }
}